[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-dance = "*"
waitress = "*"
twilio = "*"
wsgi-request-logger = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
